@use '../../../../styles/mixins' as mixin;
@use '../../../../styles/vars' as var;
@use 'include-media' as media;

$breakpoint: '<=900px';

.layout {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    @include media.media($breakpoint) {
        flex-flow: column nowrap;
    }

    .navigation {
        height: 100%;
        overflow: auto;
        flex: 0 0 200px;
        padding: 20px 30px;
        border-right: 1px solid var.$black;
        @include media.media($breakpoint) {
            overflow: visible;
            flex: 0 0 auto;
            height: auto;
            border-right: none;
            border-bottom: 1px solid var.$black;
        }
    }

    .logo {
        width: 100%;
        max-width: 130px;
        height: auto;
        padding-top: 2px;
        margin-bottom: 15px;
    }

    .menu {
        .item {
            &:not(:first-child) {
                margin-top: 5px;
            }
        }
        .link {
            @include mixin.link;
        }
    }

    .content {
        height: 100%;
        overflow: auto;
        flex: 1 1 100%;
        padding: 20px 30px;
        @include media.media($breakpoint) {
            overflow: visible;
            flex: 1 1 100%;
            height: auto;
        }
    }
}

// .logo {
//     @include h1;
// }

// .link {
//     @include link;
// }