@use '../../../../styles/mixins' as mixin;
@use '../../../../styles/vars' as var;

.loader {
    &.type-page {
        position: relative;
        display: block;
        width: 100%;
        min-height: inherit;
        height: 100%;
        @include mixin.loader($borderWidth: 5px, $size: 60px, $color: var.$gray)
    }

    &.type-section {
        position: relative;
        display: block;
        height: 80px;
        width: 100%;
        @include mixin.loader($borderWidth: 5px, $size: 60px, $color: var.$gray)
    }
}