@use '../../../../styles/mixins' as mixin;
@use '../../../../styles/vars' as var;

.segment {

    h1.title {
        @include mixin.h1;
    }

    h2.title {
        @include mixin.h2;
    }

    .description {
        font-size: 15px;
        margin-top: 5px;
    }

    .content {
        margin-top: 12px;
    }

    & + .segment {
        margin-top: 40px;
    }

    .stars {
        margin-top: 5px;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: var.$yellow; 
        display: flex;
        gap: 2px;
      
        .filledStar {
            color: var.$yellow;
        }
      
        .emptyStar {
            color: #ccc;
        }
    }
}